#body {

      }
.navigation {
  position-top: fixed;
  text-align: center;
  margin: auto;
  align-content: center;
}
.navigation ul li {
  display: inline-block;
  list-style: none;
  padding: 30px;
  }
