#body {
  background-color: url("images/kromweb_min.png" alt="kromweb technology"); }
.navigation {
  position-top: fixed;
  text-align: center;
  margin: auto;
  align-content: center;
}
.navigation ul li {
  display: inline-block;
  list-style: none;
  padding: 30px;
  }
