#body {

      }
.navbar {
  position-top: fixed;
  text-align: right;
  margin: 0px
  align-content: center;
  background-color: orange;

}
.navbar ul li {
  display: inline-block;
  text-align: justify;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: blue;
  }
  .content-about  {
      align-content: center;
  }
  .content-about p {
    text-align: justify;
  }
  .content-about ol li {
    text-align: left;
  }
  .content-about ol li a{
    text-decoration: none;
    align-content: flex-start;
  }

  .content-about ul {
text-align: center;
  }

  .content-about ul li {
    text-decoration: none;
    text-align: justify;
    align-content: flex-start;
  }
  .profile-pic {
    margin-top: 20px;
  }
.profile-def {
    margin-top: 20px;
  }
